<% content_for :title, 'Customers' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th># of Orders</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td> <%= link_to(customer[:name], customers_path + '/' + customer[:customer_id].to_s)
        + '?name=' + customer[:name]
        %> 
        </td>
        <td> <%= customer[:num_of_order] %> </td>
      </tr>
    <% end %>

    <% # Details go here %>
  </tbody>
</table>

<table> 
  <thead>
    <tr>
      <% @pages.each do |page| %>
        <td> <%= link_to(page, customers_path + "?page=" + page) %> 
        </td>
      <% end %>
    <tr>
  </thead>
</table>
